<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="descriptionTag" name="description" content="This is a description for the site.">
    <title>FlipRev Scrapper</title>

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://heyleia.com/css/sweetalert.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:800,800i&amp;display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



    <link href="https://heyleia.com/css/leia.css" rel="stylesheet">


</head>

<body style="">

    <header style="margin-bottom: 0px;">

        <div class="sectionOverlay" id="headerOverlay" style="background: rgba(0, 0, 0, 0.3)"></div>
        <div id="outerHeader" class="noCustomElement">
            <div id="headerContainer" class="noCustomElement">
                <div id="headerContent" class="noCustomElement">
                    <div class="row noCustomElement">
                        <div id="iconDiv" class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">

                            <i id="headerIcons" class="headerIcon fab fa-pagelines" altonclick="null"
                                althref="null"></i>

                        </div>
                        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 noCustomElement">
                            <div id="headerTitleWrap">
                                <h1 id="headerTitle" class="headerTitles" altonclick="null" althref="null">FlipRev
                                    Scrapper</h1>
                            </div>
                            <div id="headerSubtitleWrap">
                                <h3 id="headerSubtitle" class="headerSubtitles" altonclick="null" althref="null">
                                    Easefull Flipkart Insights</h3>
                            </div>
                            <div id="headerButtons">
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <div class="content">
        <form action="/review" method="post">
            <div class="search-container-wrapper">
                <div class="search-container">
                    <i class="search-icon fas fa-search"></i>
                    <input type="text" class="search-input" name="content" id="content" placeholder="Enter the product name">
                    <button type="submit" class="search-button">Search</button>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    </div>
    <section id="about">
        <div class="sectionOverlay" id="aboutOverlay" style="background: rgba(0, 0, 0, 0)"></div>
        <div id="outerAbout" class="outerSection noCustomElement">
            <div id="aboutContainer" class="sectionContainer noCustomElement" style="margin-bottom: 0px;">
                <div id="aboutContent" class="sectionContent container-fluid noCustomElement">
                    <div id="aboutBox" class="row noCustomElement">
                        <div class="outerGrid col-sm-6 noCustomElement">
                            <div class="innerGridTable noCustomElement">
                                <div id="aboutImage1" class="innerTableContent"><img class="aboutImages"
                                        src="https://github.com/Riyal11/image/blob/main/Flipkart.png?raw=true"
                                        altonclick="null" althref="null"></div>
                            </div>
                        </div>
                        <div id="aboutInfo" class="outerGrid col-sm-6 noCustomElement">
                            <div class="innerGridTable noCustomElement">
                                <div class="innerTableContent noCustomElement">
                                    <div id="aboutTitleWrap">
                                        <h2 id="aboutTitle" class="aboutTitles" altonclick="null" althref="null">What We
                                            Do</h2>
                                    </div>
                                    <div id="aboutParagraph1Wrap">
                                        <p id="aboutParagraph1" class="aboutParagraph" altonclick="null" althref="null">
                                            While other Data Analysis solutions endeavor to be less inclined to service
                                            their customers with intimacy and integrity, we specialize in results that
                                            are community oriented, affable, and pioneering. We submerge ourselves in
                                            your solution to increase profound understanding into your operational and
                                            vital potential, working with you to co-make arrangements explicitly for
                                            you.</p>
                                    </div>
                                    <div id="aboutSubtitleWrap">
                                        <h4 id="aboutSubtitle" class="aboutSubtitles" altonclick="null" althref="null">
                                            Learn a bit more about us</h4>
                                    </div>
                                    <div id="aboutParagraph2Wrap">
                                        <p id="aboutParagraph2" class="aboutParagraph" altonclick="null" althref="null">
                                            As a leader in the Data Analysis space, we are an imaginative group of
                                            problem solvers who are energetic about sparing our customers time,
                                            dissatisfaction, and cash. Utilizing our associations with extravagant
                                            suppliers, overall we deliver solutions explicit to our customer's
                                            exceptional needs, guaranteeing that the unlimited subtleties are dealt with
                                            and top-level specialist organizations are foreseeing your landing all
                                            throughout the adventure of working together.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>

</body>

</html>